.clock-in{
    width: 411px;
    height: 711px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-welcome{
        display: flex;
        align-items: center;
        height: 30%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .clock-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        p{
            margin: 0;
        }
    }

    .clock-in-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap : 25px
    }

    .learn-more{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        // margin-top: 15vh;

        .learn-more-button{
            height: 32px;
            width: 131px;
            font-size: 16px;
            font-family: 'Open Sans';
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p{
                margin: 0;
            }
            img {
                width: 4.5px;
                height: 9px;
            }
        }
    }

    .btn-clock-in{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 40px;
    }

}